body {
    margin: 0; 
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url("images/BG.jpeg");
    background-repeat: no-repeat;
    background-size: auto 1000px; 
    background-attachment: fixed;
    background-color: grey;
}

header {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px; 
    font-size: 20px;
}

/* NAVIGATION BAR */ 

#navbar {
    text-align: center;  
    margin: auto;
    width: 100%; 
    padding: 5px; 
    /*position: fixed;*/
}

#nav {
    margin: auto; 
    padding: 15px; 
    width: 600px;
    background-color: rgba(45, 25, 25, 0.5);
    border-radius: 10px; 
    text-align: center;  
}

#nav ul {
    margin: 0;
    padding: 0;
    text-align: center; 
}

#nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    margin: 0;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300; 
}

#nav ul li a:hover {
    border: 1px solid; 
    padding: 10px; 
    margin: -11px;
}

#name { 
    font-family: 'Rokkitt', serif;
    margin-top: 40px;
    text-align: center;
    color: white;
}

#name h1 {
    padding-top: 20px; 
    display: none; 
}

#name h2 {
    font-weight: 300; 
    display: none; 
}

#name img { 
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: none; 
}

#aboutMe {
    text-align: center;
    margin: 50px 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px;
    display: none;
}

#aboutMe div {
    background: rgba(54, 25, 25, .7);
    color: white;
    text-align: center;
    background-attachment: fixed; 
    overflow: scroll; 
    display: none;
    border-radius: 10px; 
    padding: 20px 50px; 
}

#aboutMe h3 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
    display: none;
}

#aboutMe h4 {
    font-size: 25px;
    display: none;
    margin: 0;
}

#aboutMe p { 
    font-size: 16px;
    font-weight: 300;
    display: none;
}

/* CONTACT PAGE */ 

#contactInfo {
    text-align: center;
    color: white; 
}

#contactInfo h1 {
    display: none;
    font-size: 50px;
    margin: 0;
}

#contactInfo ul {
    display: none; 
    text-align: center;
    padding: 0;
    margin: 0;
}

#contactInfo ul li {
    display: inline-block;
    list-style-type: none;
}

#contactInfo img {
    display: none; 
    margin: 25px auto;
    width: auto; 
    height: 270px;
    border-radius: 25px;
}

#contactInfo ul img { 
    display: none;
    height: 50px; 
    width: auto;
    border-radius: 0;
}

#contactInfo ul img:hover {
     opacity: 0.2; 
}

/* SKILLS PAGE */ 

#skills {
    background-attachment: fixed; 
    overflow: scroll;
}

.grid {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    width: 600px; 
    margin: auto;
    padding: 20px 50px;
}

.cell { 
   width: 150px;
   height: 100px; 
   background-color: rgba(54, 25, 25, .5);
   color: white;
   text-align: center;
   position: relative;
}

.cell h4{
    margin: 5px; 
    position: absolute;
    width: 100%; 
    bottom: 30px;
    font-size: 30px; 
}

.cell img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    filter: blur(1px);
}




